/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-apr-2016, 13.24.09
    Author     : FSEVERI\ceretta2991
*/

.navbar-default {
    background-color: #FAF0E6;
    border-color: #000000;
}

.navbar-fixed-top{
    background-color:  #FAF0E6;

    border-color: #000000;;
}

.navbar{
    background-color:   #FAF0E6;
    border-color: #000000;
}

.panel-heading{
     background-color:   #FAF0E6 !important;
}

.pad{
    padding-top: 10px;
    padding-bottom: 10px;
}
.paddingtop{
    padding-top:1%; 
}
.centertext{
    text-align: center;  
}

.titoloevento{
    text-transform: uppercase;
    text-align: center;
    font-size: 600%;
    margin-top: 100px;
}
.headstyle{
    text-align: center;
    background-color: #bfbfbf;
    padding: 2%;
    margin-bottom: 3%;
    
}

